@font-face {
   font-family: 'DIN-Light';
   font-display: swap;
   src: url('file:///Users/florabel.lhors/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-09-30_125329/fonts/DIN-Light/font.ttf');
}
